@import "vars.scss";
@import "normalize.scss";
@import "normal.scss";
@import "bootstrap.scss";
@import "bootstrap-theme.scss";
//@import "colorbox.scss";
@import "compass/css3";
@import "animations.scss";
@import "component.scss";

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
//@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,400,600,700,300italic,600italic);
//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700);



/*body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: $baseLineHeight;
  color: #333333;
  background-color: #ffffff;
}*/

body{
    font-size: $baseFontSize;
    font-family: $bodyFontFamily;
    color:$color-black;
    background:$color-black;
    line-height: $baseLineHeight;
}


.container{
	width:$wapperWidth;
  height: 649px;
	margin: 0px auto;
	position:relative;
  display: block;
}


.left{
	float:left;
}

.right{
	float:right;
}

button{
  @include border-radius(50%, 50%);
  color: $color-rojoOscuro;
  background:$color-amarillo;
  border:none;
  width: 65px;
  height: 65px;
  text-align: center;
  text-transform: lowercase;
  &:focus{
    outline: -webkit-focus-ring-color auto 0;
  }
}

#ingresar{
  margin:0 auto;
  display: block;
}

#frase{
  width: 260px;
  margin: 371px auto 10px;
  display: block;
  border: none;
  border-bottom: 3px dashed #fff;
  background: transparent;
  padding:5px;
  color:$color-white;
  font-weight: bold;
  &:focus {
    outline: -webkit-focus-ring-color auto 0px;
  }
}

.pt-page-2{
  #chapulin{
    position: absolute;
    top: 148px;
    left: 290px;
  }

  #personaje{
    display: none;
    #idTxt{
      position: absolute;
      top: 100px;
      left: 251px;
    }
    #idGraph{
      position: absolute;
      bottom: 113px;
      left: 210px;
    }
  }//#personaje

  #armas{
    @extend #personaje;
  }//#armas

  #villanos{
    @extend #personaje;
      #idTxt{
        top: 141px;
        left: 229px;
      }
      
      #idGraph{
        bottom: 113px;
        left: 210px;
      }
    }//#personaje



  #psicologia{
    @extend #villanos;
      #idTxt{
        top: 166px;
        z-index: 999;
      }
  }//#personaje
  
  #cronologia{
    @extend #personaje;
      #idTxt{
        top: 141px;
        left: 229px;
      }
      
      #idGraph{
        bottom: 113px;
        left: 210px;
      }
    }//#personaje

}//pt-page-2

#menu{
  position:absolute;
  bottom: 40px;
  z-index: 9999;
  margin-left: -250px;
  left: 50%;

  li{
    color:$color-amarillo;
    margin:5px;
    display: inline-block;
    cursor:pointer;
  }//li

  i{
    color:$color-amarillo;
    margin:5px;
  }

}//menu


