@import "vars.scss";
@import "normalize.scss";
@import "normal.scss";
@import "bootstrap.scss";
@import "bootstrap-theme.scss";
//@import "colorbox.scss";
@import "compass/css3";
@import "animations.scss";
@import "component.scss";





@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
//@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,400,600,700,300italic,600italic);
//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700);



/*body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: $baseLineHeight;
  color: #333333;
  background-color: #ffffff;
}*/

body{
    font-size: $baseFontSize;
    font-family: $fontNHaas45 !important;
    color:$color-black;
    background:$color-black;
    line-height: $baseLineHeight;
    letter-spacing: 1px;
}


.container{
	width:$wapperWidth;
  height: 649px;
	margin: 0px auto;
	position:relative;
  display: block;
  padding:0;
}


.contInt{
  margin:30px;
}

.contenedorMenu{
  width:$wapperWidth;
  position:relative;
  display: block;
  margin: 0px auto;
}

.left{
	float:left;
}

.right{
	float:right;
}

button{
  @include border-radius(50%, 50%);
  color: $color-rojoOscuro;
  background:$color-amarillo;
  border:none;
  width: 65px;
  height: 65px;
  text-align: center;
  text-transform: lowercase;
  &:focus{
    outline: -webkit-focus-ring-color auto 0;
  }
}

#ingresar{
  margin:0 auto;
  display: block;
}

#frase{
  width: 260px;
  margin: 371px auto 10px;
  display: block;
  border: none;
  border-bottom: 3px dashed #fff;
  background: transparent;
  padding:5px;
  color:$color-white;
  font-weight: bold;
  &:focus {
    outline: -webkit-focus-ring-color auto 0px;
  }
}

.pt-page-2{
  #chapulin{
    position: absolute;
    top: 148px;
    left: 290px;
  }

  #personaje{
    display: none;
    #idTxt{
      position: absolute;
      top: 100px;
      left: 251px;
    }
    #idGraph{
      position: absolute;
      bottom: 113px;
      left: 210px;
    }
  }//#personaje

  #armas{
    @extend #personaje;
  }//#armas

  #villanos{
    @extend #personaje;
      #idTxt{
        top: 141px;
        left: 229px;
      }
      
      #idGraph{
        bottom: 113px;
        left: 210px;
      }
    }//#personaje



  #psicologia{
    @extend #villanos;
      #idTxt{
        top: 166px;
        z-index: 999;
      }
  }//#personaje
  
  #cronologia{
    @extend #personaje;
      #idTxt{
        top: 141px;
        left: 229px;
      }
      
      #idGraph{
        bottom: 113px;
        left: 210px;
      }
    }//#personaje

}//pt-page-2

#menu{
  position:absolute;
  top:563px;
  z-index: 9999;
  margin-left: -250px;
  left: 50%;

  li{
    color:$color-amarillo;
    margin:5px;
    display: inline-block;
    cursor:pointer;
    letter-spacing: 2px;
    font-size: $baseFontSize + 2;
  }//li

  i{
    color:$color-amarillo;
    margin:5px;
  }

}//menu


.titulo{
  font-family: $fontNHaas95 !important;
  color:$color-amarillo;
  float: left;
  display: inline-block;
  margin-right:20px;
  p{
    margin:0px;
    padding:0;
    &.first{  
      font-size: $baseFontSize + 26;
    }//first

    &.second{  
      font-size: $baseFontSize + 42;
      margin-top: -40px;
    }//second

  }//p

}//titulo

#menuInt{
  display: inline-block;
  float: left;
  margin: 33px 0 0 0;
  li{
    width: 45px;
    height: 41px;
    margin:0 5px;
    color:$color-rojo;
    line-height: 41px;
    text-align: center;
    background:url('../img/corazonMenu.png') no-repeat top left;
    display: inline-block;
    float: left;
    font-family: $fontNHaas95 !important;
    font-size: $baseFontSize + 8;
    cursor: pointer;
  }

}//menuInt

.descrip{
    background:$color-amarillo;
    font-family: $fontNHass55;
    width: 420px;
    position:relative;

    p{
      padding:20px;
      letter-spacing: 1px;

    }


    &:after
    {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 21px;
      bottom: -18px;
      border: 9px solid;
      border-color: $color-amarillo transparent transparent $color-amarillo;
      
    }

}//descrip


#txtDescrip{
  width: 400px;
  margin: 30px 0 0 20px;
  color: $color-white;
  float: left;
  display: inline-block;
}

#personaje1{
  width: 480px;
  background: url(../img/personaje1.jpg) no-repeat;
  float: right;
  display: inline-block;
  height: 457px;
}

#personaje2{
 @extend #personaje1;
  background: url(../img/personaje2.jpg) no-repeat;
  position: relative;
}

.punto{
  width: 20px;
  height: 20px;
  @include border-radius(50%, 50%);
  color: $color-rojo;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  background:$color-white;
  position:absolute;
  
  &.antenitas{
    top:52px;
    left:255px;
  }

  &.traje{
    top: 134px;
    left: 211px;
  }
  &.escudo{
    top: 169px;
    left: 250px;
  }

  &.pantaloncillos{
    top: 239px;
    left: 275px;
  }

  &.alas{
    top: 300px;
    left: 192px;
  }

  &.zapatos{
    top: 300px;
    left: 192px;
  }


}//puntos

