$baseFontSize: 14px;
$baseLineHeight: 1.428571429;
$bodyBackground: #fff;
$bodyFontFamily: Arial;
$wapperWidth:960px;
$innerWapperWidth:419px;

$fontOpenSans: 'Open Sans', sans-serif;
$fontTinos: 'Tinos', serif;
$fontLatop: 'Lato', sans-serif;
$font10:0.857em;
$font17:1.214em;

$color-celeste:#009cd8;
$color-celeste2:#BAD6E1;
$color-amarillo:#fef200;
$color-azul: #008FC7;
$color-rojo:#911d00;
$color-rojoOscuro:#911d00;
$color-gris:#ccc;
$color-green: #a4c408;
$color-white:#fff;
$color-black:#000;
$color-borde:#8A8A8A;

$color-naranja:#fed500;
$color-verde:#a4c408;
$color-rosa: #f19fb4;
$color-cyan:#5bbdb8;

$color-navbutton:#000;







.blackShadow{
	text-shadow: 1px 1px 1px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
}

.clear{
	clear:both;
}

@mixin shadow($horz, $vert, $blur,  $color) {
	text-shadow: $horz $vert $blur $color;
	filter: dropshadow(color=$color, offx=$horz, offy=$vert);
}

// Mixin itself
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


/* LOADER */

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  

}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  background: #EBD92C;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* LOADER */



.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  background:$color-navbutton;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background:$color-white;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}


